<!DOCTYPE html>
<html>
<head>
  <title>NFC Reader</title>
</head>
<body>
  <h1>NFC Reader</h1>
  <button id="startButton">Start Reading NFC</button>
  <p id="message"></p>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const startButton = document.getElementById('startButton');
      const messageElement = document.getElementById('message');

      startButton.addEventListener('click', startReadingNFC);

      function startReadingNFC() {
        if ('NDEFReader' in window) {
          // Request NFC permission
          navigator.permissions.query({ name: 'nfc' })
            .then(permissionStatus => {
              if (permissionStatus.state === 'granted') {
                // NFC permission granted, proceed to read NFC data
                readNFCData();
              } else if (permissionStatus.state === 'prompt') {
                // Prompt the user to grant NFC permission
                permissionStatus.onchange = () => {
                  if (permissionStatus.state === 'granted') {
                    // NFC permission granted, proceed to read NFC data
                    readNFCData();
                  }
                };
              }
            })
            .catch(error => {
              console.error('Error while checking NFC permission:', error);
            });
        } else {
          messageElement.textContent = 'Web NFC API is not supported in this browser.';
        }
      }

      function readNFCData() {
        const ndef = new NDEFReader();

        ndef.addEventListener('reading', event => {
          messageElement.textContent = 'NFC card detected!';
          const records = event.message.records;

          if (records.length === 0) {
            messageElement.textContent = 'No NFC records found on the card.';
          }

          for (const record of records) {
            const recordType = record.recordType;
            const data = record.data;
            const textDecoder = new TextDecoder();
            const text = textDecoder.decode(data);

            const message = `Record Type: ${recordType}, Data: ${text}`;
            messageElement.textContent = message;
          }
        });

        ndef.addEventListener('error', event => {
          console.error('Error reading NFC data:', event.error);
        });

        ndef.scan()
          .then(() => {
            messageElement.textContent = 'NFC reader initialized and scanning started.';
          })
          .catch(error => {
            console.error('Error initializing NFC reader:', error);
          });
      }
    });
  </script>
</body>
</html>
